$display-none: none;

.main {
    width: 80vw;
    height: 80vh;
    background-color: rgb(61, 197, 238);
    margin: 0 auto;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    position: relative;
    font-family: 'Spline Sans Mono', monospace;
}

.Todo {
    position: relative;
    top: 200px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-button {
    font-size: 14px;
    border: none;

    &:hover {
        background-color: green;
        border: none;
    }
}

ul {
    list-style-type: none;

}

.list {
    align-self: center;
}

.listItem {
    width: max-content;

    display: flex;
    background-color: green;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    height: 30px;
    margin-bottom: 15px;


    &:hover {
        background-color: #f4a261;
    }

}

li {
    margin: 0px 5px;
    color: white;

}

.del-button {

    font-size: 9px;
    border-radius: 5px;
    margin-top: 5px;
    border: none;
    margin: 5px;

    &:hover {
        background-color: #ff595e;
    }
}

.edit-button {
    font-size: 9px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
    margin: 5px;

    &:hover {
        background-color: #8ac926;
    }

}

input {
    position: relative;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Spline Sans Mono', monospace;
}

.input {
    display: flex;


}